.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  user-select: none;
}

.nav nav {
  display: flex;
  gap: 30px;
}

.nav button {
  border: none;
  background-color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.nav button:hover {
  color: #717171;
}
